*{
	padding: 0;
	margin: 0;
}

.purplebows{
        font-size: 20pt;
        font-family: 方正卡通;
        font-weight: bold;
        color: white;
        background-image: linear-gradient(
            to right,
                #ccffff,
                #ccccff,
                #cc99ff,
                #cc66ff,
                #cc33ff,
                #cc66ff,
                #cc99ff,
                #ccccff,
                #ccffff


        ); /* 注意颜色的始终要相同,不然就会有突变颜色线条,影响视觉*/
        background-size: 110vw;
       -webkit-background-clip: text;
       color: transparent;
        animation: sliding 30s linear infinite;
    }
.rainbows{
        font-size: 20pt;
        font-family: 方正卡通;
        font-weight: bold;
        color: white;
        background-image: linear-gradient(
            to right,
                orangered,
		        orange,
	        	gold,
		        lightgreen,
		        cyan,
		        dodgerblue,
		        mediumpurple,
		        hotpink,
		        orangered


        ); /* 注意颜色的始终要相同,不然就会有突变颜色线条,影响视觉*/
        background-size: 110vw;
       -webkit-background-clip: text;
       color: transparent;
        animation: sliding 30s linear infinite;
    }
    @keyframes sliding{
        to{
            background-position:  -2000vw;
        }
}



div#fold_list i a{
    color:#7B7B7B;
    text-decoration:none;
}

div.hgrey_alink>a{
    color:grey;
    text-decoration:none;
    font-family: 'NRM',方正卡通;
}


div.grey_alink>a{
    color:grey;
    text-decoration:none;
    font-family: 'NRM';
}


nobr.fold-title{
    color: grey;
    font-size: 1.7em;
    font-family: 'NRM';
}

div#a_publish>a{
    color: grey;
    text-decoration: none;
    font-size: 1.2em;
}
