*{
	padding: 0;
	margin: 0;
}

.purplebows{
        font-size: 20pt;
        font-family: 方正卡通;
        font-weight: bold;
        color: white;
        background-image: linear-gradient(
            to right,
                #ccffff,
                #ccccff,
                #cc99ff,
                #cc66ff,
                #cc33ff,
                #cc66ff,
                #cc99ff,
                #ccccff,
                #ccffff


        ); /* 注意颜色的始终要相同,不然就会有突变颜色线条,影响视觉*/
        background-size: 110vw;
       -webkit-background-clip: text;
       color: transparent;
        animation: sliding 30s linear infinite;
    }
    @keyframes sliding{
        to{
            background-position:  -2000vw;
        }
}

#a_publish{
    font-family: '英文斜体', 华文行楷_G;
}

#a_publish table, td{
    FONT-SIZE: 15pt;
    color: grey;
}
#a_publish table tr td:first-child{
    width:300px;
}

div.grey_alink_all a{
    color:grey;
    text-decoration:none;
}

div.grey_alink>a{
    color:grey;
    text-decoration:none;
}


nobr.japan_a{
    font-family: '假名字体';
    letter-spacing:-3px;
}

.fold-title{
    color: grey;
    text-decoration: none;
    font-size: 2em;
    font-family: '华文行楷_G';
    font-weight:normal;
}

