body{
    background-color: #000000;
    font-size:5px;
    line-height: 5em;
}

a,div,p,h3{
    color: #fff;
}

h1{
    color: #fff;
    text-align: center;
    font-size: 8em;
}

#timeShow{
    text-align: center;
}

#upDated{
    text-align:center;
    margin-left: 40; 
    margin-right: 40; 
    font-size:0.7em; 
    vertical-align: inherit;
}

#h_border{
    border: 1px solid grey;
    margin:0 auto;
}

#fold_border{
    border: 1px solid black;
    float: right;
}

#h_td{
    width: 400px;
    background-color: grey;
    padding-left: 50px;
}

#fold_td{
    width: 120px;
    background-color: grey;
}

.divchuizhi{
    height: 20px;
    margin: 3px auto;
    line-height: 20px; 
    text-align: center; 
    overflow: hidden; 
}

.f1{
    font-size: 1em;
}

.f3{
    font-size: 3em;
}

.f5{
    font-size: 5em;
    line-height: 2em;
}

#r_checkbox{
    background-color: grey;
    width:12px; 
    height:12px
}

