body{
    background: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg9.51tietu.net%2Fpic%2F20190921%2Fe00tgl3m1v2e00tgl3m1v2.jpg&refer=http%3A%2F%2Fimg9.51tietu.net&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1656413439&t=eed2fa106082a33c832396d7211fce4b');
    background-size: cover;
    filter: brightness(0.9);
    width: 100%;
    height: 100%;
    z-index: 1;

    color: #fff;
    overflow: hidden;
}
html {
    font-family: 'Noto Sans SC Sliced', PingFangSC-Light, Microsoft YaHei UI, Microsoft YaHei, helvetica, sans-serif;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    opacity: 1;
}
input::-moz-placeholder { /* Firefox 19+ */
   color: #fff;
   opacity: 1;
}

#phone_bgmu{
    display: none;
}

@media (max-width: 860px) {
    #jp_container_N {
        display: none;
    }
    #phone_bgmu{
        position:absolute;
        top:10px;
        display: block;
    }
    body{
        background: url('https://img2.baidu.com/it/u=2502059100,3052078260&fm=253&fmt=auto&app=138&f=JPEG?w=281&h=499');
        background-size: cover;
        filter: brightness(0.9);
        width: 100%;
        height: 100%;
        z-index: 1;
    
        color: #fff;
        overflow: hidden;
    }
}
